	</div>
</div>

<footer id='footer'>
    <div id="credit">
	License: <a href="http://creativecommons.org/licenses/by-sa/4.0/" target="_blank" rel="license">CC-BY-SA</a> | Visualisation by <a target="_blank" href="http://theodi.org/team/david-tarrant">David Tarrant</a> | <a target="_blank" href="data/all_data.zip">Get the data</a>
    <br/>
       This project received funding from the UK Arts Council
    </div>
    <img id="odi-logo" src="img/logo.png" alt="The Open Data Institute"></img>
</footer>
</body>
</html>
